/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}


/* LAYOUT */


/* UTILITY */


/* TYPOGRAPHY */


/* HEADER */


/* MAIN */


/* FOOTER */


/* RESPONSIVE */
