/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}


/* LAYOUT */


/* UTILITY */


/* TYPOGRAPHY */


/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    text-align: center;

    /* debug */
    border: 1px solid black;
}

#logo {
    color: #ff9619;
}

/* MAIN */


/* FOOTER */



/* RESPONSIVE */

/* TABLET MODALITY */
@media screen and (min-width: 768px) {
    /* HEADER */
    header {
        text-align: start;
        padding: 0 1.5rem;
    }
}


/* DESKTOP MODALITY */
@media screen and (min-width: 992px) {
    /* HEADER */
    header {
        text-align: start;
        padding: 0 1.5rem;
    }
}