/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}


/* UTILITY */
.container {
    width: 95%;
    margin: 0 auto;

    /* debug  */
    /* min-height: 100px; */
    /* border: 1px solid black; */
}

.section {
    padding: 1rem 0;
}


/* LAYOUT */
.recipe.grid-layout {
    display: flex;
    flex-direction: column;
}


/* TYPOGRAPHY */
ul {
    list-style: none;
    margin: 20px 0 0;
}

.recipe-test.col li {
    margin: 5px 0;
}


/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    text-align: center;

    /* debug */
    /* border: 1px solid black; */
}

#logo {
    font-family: "Nerko One", cursive;
    color: #ff9619;
}


/* MAIN */
main {
    background-color: lightgray;

    /* debag */
    min-height: 1000px;
}

/* RECIPE SECTION */
.category {
    color: gray;
    font-size: 0.7rem;
}

.recipe-title {
    color: #4e3969;
    font-size: 1rem;
    margin: 5px 0 20px 0;
}

.recipe-type {
    display: none;
}

.video {
    width: 100%;
    aspect-ratio: 2;
}

.recipe-test.col {
    padding: 20px;
    background-color: white;
}

/* ICON SECTION */
.icon-list {
    display: flex;
    justify-content: space-between;
}

.icon-list li {
    border-radius: 50%;
    padding: 10px;
    background-color: white;
}

.icon-test {
    display: none;
}

/* ADS SECTION */
#banner {
    display: none;
}


/* FOOTER */



/* RESPONSIVE */

/* TABLET MODALITY */
@media screen and (min-width: 768px) {

    /* HEADER */
    header {
        text-align: start;
        padding: 0 1.5rem;
    }

    /* UTILITY */
    .container {
        width: 90%;
        margin: 0 auto;
    }

    /* MAIN */
    /* RECIPE SECTION */
    .recipe-title {
        font-size: 1.3rem;
    }

    .recipe-type {
        display: inline;
    }

    .recipe-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .recipe-list li {
        width: calc(100%/3);
    }


    /* ICON SECTION */
    .icon-list {
        gap: 10px;
    }

    .icon-list li {
        width: 20%;
        border-radius: 50px;
        padding: 10px;
        background-color: white;
        text-align: center;
    }


    /* ADS SECTION */
    #banner {
        display: inline-block;
    }

}


/* DESKTOP MODALITY */
@media screen and (min-width: 992px) {

    /* HEADER */
    header {
        text-align: start;
        padding: 0 1.5rem;
    }

    /* UTILITY */
    .container {
        width: 80%;
        margin: 0 auto;
    }

    /* MAIN */
    /* RECIPE SECTION */
    .recipe-title {
        font-size: 1.5rem;
    }

    .recipe-type {
        display: inline;
    }

    .recipe.grid-layout {
        display: flex;
        flex-direction: row;
    }

    .recipe-video.col {
        width: 70%;
    }

    .recipe-test.col {
        width: 30%;
    }

    .recipe-list li {
        width: 100%;
    }


    /* ICON SECTION */
    .icon-test {
        display: inline;
    }

    /* ADS SECTION */
    #banner {
        display: inline-block;
    }


}